.CenterMap {
  border: 5px solid #0eb7eb;
  border-radius: 10px;
  display: grid;
  place-items: center;
}
.DivClass1 {
  border: 5px solid #0eb7eb;
  border-radius: 10px;
}
body {
  font-family: Tahoma, sans-serif;
}
.options {
  border: 5px solid #d1cfcf;
  position: fixed;
  top: 0;
  right: 0;
}
